## Core Build and Temp Folders
[Ob]
[Bb]in/
[Oo]bj/
*.user
*.userosvs
*.suo
*.userprefs
.vs/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

## WebView2 profile data
perfil-pobreflix/

## Custom ignores for Nexus PobreFlix Desktop
dist's/
docs/
